<html>
<head>
	<title>Anagrams</title>
</head>
<body>
	<h1>Anagrams</h1>

	<form action="/" method="post" class="form">
		<label for="word">Enter a word</label>
		<input type="text" name="word">
		<input type="submit" class="btn">
	</form>
</body>
</html>